html {
  background-color: #ffe4c4;
  margin: 0;
  padding: 0;
}

header {
  background-color: DarkRed;
  border: white solid 6px;
}

nav {
  display: flex;
  background-color: white;
text-align: center;
}

nav ul {
  text-align: center;

  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}
nav li {

  display: inline;
  flex: 1;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding: 0px 20px;
}
nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 6px;
  padding-bottom: 0;
  padding-top: 1rem;
}

input {
  font-size: 1rem;
  height: 20px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  border: 0;
  background-color: grey;
}

a:visited {
  color: black;
}

a:focus{
  color: black;
}

a:hover{
  color: black;
  text-decoration: underline;
}

a:active{
  color:rgb(0, 0, 255)
}

h1 {
font-size: 100px;
text-align: center;
font-family: 'Montserrat';
margin: 20px;
}

main {
  display: flex;
}

article {
  flex: 3;
  border: white solid 6px;
padding: 10px;
font-family: 'Syne';

}

aside {
  background-color: DarkRed;
  border: 2px solid black;
padding-left: 5px;
padding-right: 5px;
  flex: 1;
  display: block;
}

aside a {
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid black;
  margin:0 auto;
}

footer {
  margin-top: auto;
  padding: 20px;
  flex: 5;
  border: solid white 2px;
  background-color: white;
}

@media screen and (max-width: 800px) {
	html {
		flex: 100%;
		max-width:100%;
	}
}
